@import "tailwindcss";

@theme {
  --font-serif: "Markazi Text", serif;
  --font-cursive: "Alex Brush", cursive;
}

html,
body {
  @apply bg-white
}

@layer base {
  h1 {
    @apply text-2xl font-bold sm:truncate sm:text-3xl sm:tracking-tight;
  }

  h2 {
    @apply text-lg mt-4 space-y-6 sm:truncate sm:text-2xl sm:tracking-tight;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }

  a {
    @apply text-blue-800 underline
  }

  a:hover, a:focus {
    @apply bg-yellow-200
  }
}
